body {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.top-bar {
  background-color: #3d3357;
}

ul.menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

ul.menu li a {
  display: block;
  padding: 0.8rem 0.5rem;
  color: azure;
  font-family: 'SF Mono';
}
